.vertical-center {
  min-height: 80%;
  min-height: 80vh;

  display: flex;
  align-items: center;
}
h1 { color: #FFF }
h2 { color: #CCC }
h3,h4,h5 { color: #EEE }
li,th,td,pre,div { color: #CCC }
body { background-color: #343a40 }
a { font-size: 14pt; }
p { font-family: 'Open Sans'; color: #FFF }
img { max-width: 100%; position: relative; border-top-left-radius: 3px; border-bottom-left-radius: 3px; height: auto;}
/*body { background-color: #212124; }*/
.card { background-color: #404550; border-color: #313131; }
.img-thumbnail { background-color: #404550; border-color: #404550; }
.list-group-item { background-color: #454955; color: #CCC }
.modal-content { background-color: #404550}
.card-img { height: 100%; object-fit: none;  }
.figure-caption { color: #CCC }
/*.img-sep { background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)); position: absolute; top: 0; right: 0; z-index: 99; }-->*/
.img-sep { position: absolute; top: 0; right: 0; z-index: 99; height: 100%; }
